<!DOCTYPE html>
<html>
<head>
  <title>Dating Profile</title>
<style>
h2 {
  text-align: center;
}
</style>
</head>
<body>
<h2> datdate</h2>
<h3>Hello, user!</h3>
<h4>Partner seeker</h4>
<ul>
<li><label>
SEED
<input type="text" id="seed" Placeholder="GrayWolf" name="seed">
</label></li>
<li><label>
What gender do you prefer?
<input id="female" class="gend" type="checkbox" name="gender" value="male">Male
<input id="male" class="gend" type="checkbox" name="gender" value="female">Female
</label></li>
<li><label>
What nationality do you prefer?
<input id="gb" class="nat" type="radio" name="GB" value="GB"> Great Britain
<input id="us" class="nat" type="radio" name="US" value="US" checked> US
</label></li>
<li>
<button id="swipe">Submit</button>
</li>
</ul>
<script src="main.js"></script>
</body>
</html>